p Bonjour,
    | Vous souhaitez regénérer votre moot de passe suivez le lien suivant
    | 
    a(id="deja-membre-formulaire" href=`http://localhost:3000/reset_password/` + csrfPassword ) Regénérer mon mot de passe
    
p Si vous n'avez pas effectué cette demande ignorez ce mail.
    
p A bientôt
    | L'équipe ****
