extends ../layout

block content
  if UnSeulUser != undefined || cookieSession.nom 
    nav.navbar.navbar-expand-md.navbar-warning.bg-warning
      a.navbar-brand(href="#")
      button.navbar-toggler(type="button" data-toggle="collapse" data-target="#main-navbar")
        span.navbar-toggler-icon
      #main-navbar.collapse.navbar-collapse
        ul.navbar-nav.mr-auto
          //- li.nav-item
          //-   a.nav-link(id="nav-dashboard" class=(route == '/admin/realty/add' ? 'active' : '' ), href="/admin/realty/add")
          //-       em.fa.fa-home &nbsp; Ajouter un Bien
          li.nav-item
            a.nav-link(id="nav-dashboard" class=(route.indexOf('/admin/realty/liste-des-collaborateurs') != -1  ? 'active' : '' ), href="/admin/realty/liste-des-collaborateurs")
                em.fa.fa-address-book &nbsp; Liste des Collaborateurs
          //- li.nav-item
          //-   a.nav-link(id="nav-dashboard" class=(route.indexOf('/admin/realty/addCollab') == 0  ? 'active' : '' ), href="/admin/realty/addCollab")
          //-       em.fa.fa-address-book &nbsp; Ajouter un Collaborateur
          li.nav-item
            a.nav-link(id="nav-dashboard" class=(route.indexOf('/admin/realty/liste-des-biens') != -1  ? 'active' : '' ), href="/admin/realty/liste-des-biens")
                em.fa.fa-tachometer-alt &nbsp; Liste des biens
          li.nav-item
            a.nav-link(id="nav-dashboard" class=(route.indexOf('/logout/deconnexion-user') != -1  ? 'active' : '' ), href="/logout/deconnexion-user")
                em.fa.fa-sign-out-alt &nbsp; Déconnexion