extends layout

block content
    #main
     form(action='/Connexion', method='POST', class="d-block w-50")
       div.label
        h2 Connexion
       div.username
        input(class="form-control", type="email", placeholder="email", name="email")
       div.password
        input(class="form-control", type="password", placeholder="Mot de passe", name="mdp")
       button(id="btn-formulaireAndConnexion", class="btn btn-primary", type="submit") Connexion
       p
        | Mot de passe oublier ?
        a(id="mdp-oublier-connexion", href="#") Clique ici !!!
     button(id="facebook" class="btn btn-primary") facebook


block scripts 
    script(src="https://www.gstatic.com/firebasejs/8.4.2/firebase.js")
    script(src="https://www.gstatic.com/firebasejs/8.4.2/firebase-app.js")
    script(src="https://www.gstatic.com/firebasejs/8.4.2/firebase-auth.js")
    script(src="/js/authentificateFirebase/authentificateFirebaseWithGoogleAndFacebook.js")