extends layout

block content
    #main
     form(action='/connexion_with_mail_and_password', method='POST')
       div.label
        h2 Connexion
       div.username
        input(class="form-control", type="email", placeholder="email", name="email")
       div.password
        input(class="form-control", type="password", placeholder="Mot de passe", name="mdp")
       button(id="btn-formulaireAndConnexion", class="btn btn-primary", type="submit") Connexion
       p
        | Mot de passe oublier ?
        a(id="mdp-oublier-connexion", href="#") Clique ici !!! 